
// $condicional:false;

//? si no es ni false, null ==true
//* OPERADORES CONDICIONALES
// @debug $condicional;


// @if($condicional){
//     .grid{
//         display: grid;
//     }
// }
// @else{
//     .flexbox{
//         display: flex;
//     }
// }
//? true ,false


//* OPERADORES RELACIONES

// @debug 100 > 101 ;
// @debug 100 < 101 ;
// @debug 101 == 101 ;
// @debug 100 >= 101 ;
// @debug 100 <= 101 ;
// @debug 1px == 2px;
// @debug hola == 'hola';
// @debug #ff0 == rgba( 255 255 0);
// @debug 16px == 1rem;
// @debug hola != mundo



@mixin display($display){
    // $display: block;
    @if $display == grid{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
    @else{
        display:$display;
    }
}

//? NO LLAMAR A UN MIXIN ANTES QUE SE  DECLARE
.hero{

    @include display(grid);
}

.button{
    @include display(inline-block);
}