//*  CICLO EACH
$margenes:  1 2 3 4 5 6;
// @each $dinamica  in $lista{
//     // $dinamica 1
//     // $dinamica 2
//     // $dinamica 3
//     // $dinamica 4
//     // $dinamica 5
//     .elemento-#{$dinamica}{
//         color: #000;
//     }
// };


// @each $ variable in $lista{}

// @each $margen in $margenes{
//     .m-#{$margen}{
//         margin: $margen*1em;
//     }
// }

//* EACH USANDO MAPAS
// $estilos: (
//     "primary": crimson,
//     "secondary": steelblue,
//     "shadow": 1px 1px solid #000,
// );

// @each $clave , $valor in $estilos{
//     //? para las llaves y propiedades del mapa
// // @debug $clave $valor
//     .#{$clave}{
//         @if($clave != 'shadow'){
//             color:$valor;
//         }@else{
//             box-shadow: $valor;
//         }
//     }
// }


$lista:
    "card" color 3s,
    "nav"  clipPath  2s,
    "footer" margin 1s;


    @each $selector, $propiedad, $duracion in $lista{
        .#{$selector}{
            transition-property: $propiedad;
            transition-duration:$duracion;
        }
    }