
//* FUNCIONES
// TODO: se usan generalmente en operaciones
//? todas las funciones llevan RETURN
@use 'sass:math';
//* AGREGAR MÁS ARGUMENTOS
// @function pixelesToEm($font-size:16px,$pixeles){
//    $unidad: math.div($pixeles,1px);
//    $current-font: math.div($font-size,1px); 


//     $resultado: math.div($unidad,$current-font);
//     // 16px *3em  ~  16px / 1px
//     @return $resultado * 1em;
// }

// // @debug pixelesToEm(32px);

// //? si no quieres agregar los argumentos opcionales se tiene que referenciar los argumentos claves con su valor
// .title{
//     $font-size: 16px;
//     font-size: pixelesToEm($pixeles:40px);
// }


@function sumarElementos($valores...){
    $suma: 0;

    @each $elementoSuma in $valores{
        $suma: $suma + $elementoSuma;
        // @debug $elementoSuma;
    }
    @return $suma * 1px;
}
.suma{
    font-size: sumarElementos(40, 50,90);
    // font-size: 10px + 10px + 10px;
}
