
// * PARENT ELEMENT -BEM
// .card{
//     color: teal;

//     a{
//         color: #000;

//         &:hover{
//             color: cyan;
//         }
//     }
//     &:hover{
//         color: crimson;
//     }

//     &:after{
//         content: '';
//     }

//     :not(&){
//         opacity: 0;
//     }
// }


    // ? BEM - SELECTOR DE PADRES(SASS)
        .card{
            color: cyan;

            &--grid{
                display: grid;
            }
            &__title{
                text-align: center;
            }

            &__cta{
                color: crimson;

                &--green{
                    color: green;
                }
            }

            &:hover{
                color: royalblue;
            }
            
          
        }

//* NESTING
// .hero{
//     background-color: steelblue;
// }

// .hero nav{
//     display: flex;

// }

// .hero nav li{
//     list-style: none;
// }

// .hero nav li a {
//     text-decoration: none;
// }

//* ANIDAR DENTRO DE CLASES
// .hero{
//     background-color: steelblue;
//      nav{
//          display: flex;
//          li{
//              list-style: none;

//              a{
//                  text-decoration: none;
//              }
//          }
//      }

//     }

//* ANIDAR VARIOS ELEMENTOS
    // .hero, .main{
    //     font-size: 2rem;

    //     .cta{
    //         color: #000;
    //     }
         
    //     .title{
    //         font-size: 4rem;
             
    //         span{
    //             font-weight: bold;
    //         }
    //     }
    // }


//* SELECTORES COMBINADORES
        // ? HIJO DIRECTO
    //     .card  {
    //         > .item{
    //             display: none;
    //         }
    //     .span{
    //         font-weight: bold;
    //     }
    // }
        
        // ? HIJOS ADYACENTES
    // input:checked {
    //    + .show{
    //         transform: unset;
    //     }
    //     li{
    //         list-style: none;
    //     }
    // }

        //? HERMANOS GENERALES
        // .menu{

        //     ~ {
        //         .close{
        //             display: none;
        //         }
        //         .open{
        //             display: block;
        //         }
            
    
        //     }
         
        //     a{
        //         text-decoration: none;
        //         // transition: show .5s;
         
        //     }
        //     @media (min-width:600px){
        //         background-color: steelblue;
        //         text-decoration: none;
        //         display: grid;
    
        //         a{
        //             text-decoration: underline;
        //         }
        //     }
    
        //     @keyframes show {
        //         100%{
        //             transform: unset ;
        //         }
        //     }
        // }
    
    
    