// *  SINTAXIS
// .hero{
//     color: #fff;
// }

//*  VARIABLES POR DEFECTO
// $primary:royalblue  !default;

// $secondary: crimson !default;


//* SCOPE
//? variables globales
$global: Arial;


// h1{
//     font-family: $global;
// }


// body{
//     //? variables locales
//     $border: 1px solid #000;

//     //? variable local -global
//     $global:cursive !global;
//     // $font:2rem;

//     border: $border;
//    font-family: $global;
//     // h1{
//     //     font-size: $font;
//     // }

// }

// .titulo{
//     font-family: $global;
// }

// h2{
//     font-family: $global;
// }

//*OPERACIONES
    // $size:16 * 4px;
    $size:38/16;

    $primary2:red;

    //? para inicializar una custon property 
    :root{
        --primary2:#{$primary2};
    };

.titulo{
    font-size: $size * 1rem ;

}

//? el scope no permite referenciar variables locales en otro selector 
// h1{
//     border: $border;
// }