
// @use 'colores';
// @use 'colores2';
// @use 'sass:math';


@use 'sass:map';
@use 'sass:meta';

$primary: red !default;
$colores: (
    "primary": #000,
    "secondary":#f00,
    "titulo": steelblue,
    "rt": 1em
);

// $colores4: map.merge($textos,$colores);

@mixin recorrerMap($mapa){
    @each $clave, $valor in $mapa{
        #{$clave}{
            @if(meta.type-of($valor) == color){
                color:$valor;
            }@else{
                font-size: $valor;
            }
        }
    }
}


//* MIXIN,FUNCIONES,ARGUMENTOS PRIVADAS ( _ -)
@function _sumarElementos($valores...){
    $suma: 0;

    @each $elementoSuma in $valores{
        $suma: $suma + $elementoSuma;
        // @debug $elementoSuma;
    }
    @return $suma * 1px;
}
@function sumarElementos2($valores...){
    $suma: 0;

    @each $elementoSuma in $valores{
        $suma: $suma + $elementoSuma;
        // @debug $elementoSuma;
    }
    @return $suma * 1px;
}

// .hero{
//     color: colores.$primary;
//     background-color: colores2.$primary;
//     // math.div();

// }