body{
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
}


/* @media screen and(min-width:1400px){
    .button:hover{
        color: purple;
        background-color: orange;
    }    
} */

/* en pantallas que no sean tactiles */
/* usabilidad no usar hover en elementos no clickeables */
@media (hover:hover){
        .button:hover{
        color: purple;
        background-color: orange;
    }    
}

.button:active{
    color: orange;
    background-color: purple;
}