extends ../templates/template
//- block about
//-     h1 hola
block   menu
    - pageActive = 'about'
    include ../includes/main-menu
block title
    h1.title About
    .about
        .about__img.show
            img(src="assets/img/about.jpg",  alt="about imagen 1")
        .about__text.show
            h2 Title 1
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. In totam provident perspiciatis amet nesciunt officiis eaque dolorem obcaecati accusantium delectus voluptatem magnam cupiditate assumenda inventore consectetur expedita laboriosam, laudantium aperiam.
        .about__img
            img(src="assets/img/about2.jpg",  alt="about imagen 2")
        .about__text
            h2 Title 2
            p Dolorem obcaecati accusantium delectus voluptatem magnam cupiditate assumenda inventore consectetur expedita laboriosam, laudantium aperiam.
        .about__img
            img(src="assets/img/about.jpg",  alt="about imagen 3")
        .about__text
            h2 Title 3
            p Dolorem obcaecati accusantium delectus voluptatem magnam cupiditate assumenda inventore consectetur expedita laboriosam, laudantium aperiam.

    .controls
        i.fa-regular.fa-chevron-circle-left#prev
        i.fa-regular.fa-chevron-circle-right#next
