.main__home {
  .convertidor {
    position: relative;
    display: flex;
    justify-content: center;

    width: 100%;

    margin-bottom: 20px;

    .tipico {
      display: flex;
      justify-content: center;
      align-items: center;
      /* position: absolute;
    text-align: center;
    line-height:50px; */

      width: 90%;

      /* text-decoration: underline; */
      /* border: 1px solid black; */

      margin: 0;
    }
  }

  .input__div {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;

    .input__link {
      display: flex;
      justify-content: center;
      padding-left: 15px;
      width: 50%;
    }
  }

  .select__wraper {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    // border: 1px solid blue;

    .select__main {
      display: flex;
      justify-content: space-between;
      margin: 10px 0 5px 0;
      align-items: center;
      width: 50%;
      height: 35px;
      border: 1px solid red;
      cursor: pointer;

      .angle-down {
        display: flex;
        height: 100%;

        & > span {
          position: relative;
          bottom: 25%;
          height: 20px;
          font-size: 35px;
        }
      }
    }

    .dropdown {
      // display: flex;
      display: none;
      position: absolute;
      margin-bottom: 10px;
      width: 50%;
      top: 50px;
      background-color: white;
      border: 1px solid blue;
      cursor: pointer;
      .dropdown2column {
        list-style: none;
        .dropdown-header {
          text-decoration: underline;
          cursor: auto;
        }

        & a {
          position: relative;
          top: 3px;
          right: 10px;
          width: 100%;
          // cursor: pointer;
          padding: 5px 12px;
          z-index: 20;
          span {
            display: inline-block;
            position: relative;
            padding-left: 15%;
            width: 100%;
          }
          & .check::before {
            content: "✓";
          }
        }
        & .active:hover {
          background: #e9e8e8;
        }
      }
    }
  }

  .botones {
    .enlace {
      display: flex;
      justify-content: center;
      width: 100%;

      .button-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 50px;
        cursor: pointer;
      }

      & .rosa {
        background-color: pink;
      }
    }

    .lista__main {
      // display: flex;
      display: none;
      min-height: 400px;
      // border: 1px solid peru;

      .informacion__main {
        flex-grow: 1;
        width: 200px;
        // border: 1px solid green;
        height: 100%;
        padding: 0px 20px 100px 40px;

        .info__img {
          display: flex;
          align-items: center;
          justify-content: space-between;

          // border: 1px solid blue;

          gap: 50px;

          .img__head {
            .img__size {
              flex-grow: 1;
              // border: 1px solid skyblue;
              background-size: cover;
              object-fit: contain;
              width: 350px;
            }
            & .tmsize {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 100%;
            }
          }

          .descripcion__yt {
            flex-grow: 1;
            flex-direction: column;
            padding: 3px 0px;
            // border: 1px solid skyblue;
            width: 400px;
            height: 100%;

            .txtDescripcion__yt {
              padding: 0px 10px;
              font-size: 15px;
              overflow: auto;
            }
          }
        }
      }
      .enlace2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 14%;
        .button-item {
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid green;
          padding: 0px 60px;
          width: 90px;
          height: 50px;
          cursor: pointer;
        }
      }
    }
  }
}
