
//*   PLACEHOLDER (%) , PLACEHOLDER PRIVADO (-)
//*  NO SERA UN SELECTOR QUE SE COMPILE, DEBE SER HEREDADO PRIMERO
// %-textos{

//     line-height: 1.7;
//     letter-spacing: 1.5;
//     text-align: left;
//     overflow-wrap: break-word;
//     // &:hover{
//     //     text-decoration: underline
//     // }
//     // &::before{
//     //     content: 'hola'
//     // }
//     // span{
//     //     color: red;
//     // }
//     // &--bold{
//     //     font-weight: bold;
//     // }
// }

// @mixin textos{
//     line-height: 1.7;
//     letter-spacing: 1.5;
//     text-align: left;
//     overflow-wrap: break-word;
// }


// %error{
//     color: crimson;
//     font-weight: bold;
//     font-size: 2rem
// }

    // .hero__copy{
    //     @extend .textos;
    //     font-size: 5rem;
    // }
//* SELECTOR POR DEFAULT (!OPTIONAL)
// .hero__title{
//     // @extend %-textos !optional;
//     @extend %-textos ;

//     // @include textos();
//     font-size: 2rem
// }


// %small{
//     font-size: .5rem;
//     font-weight: 300;
// }

// .hero__error{
//     @extend  %error;
// }

//* SELECTORES NO PERMITIDOS
//? selectores compuestos

// h1.title{
//     font-weight: bold;
//     font-size: 3rem;
// }

// .h1{
//     @extend h1.title
// }


//* NO SE PUEDEN EXTENDER ELEMENTOS FUERA DE LOS MEDIAQUERIES

// ? AL INCLUIR DENTRO DEL MEDIAQUERIES DA ERROR TAMBIÉN
// .hero__title{
//     font-size: 4rem;

//     @media (max-width:500px) {

//         %title-sm{
//             font-size: 1.4rem;
//             font-weight: 300;
//             line-height: 1.3;
//         }
//         @extend  %title-sm;

//     }
// }

//*NO SE RECOMIENDA  USAR EXTEND EN MEDIAQUERIES EN SU LUGAR USAR MIXIN

@mixin title-sm{
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.3;
}
.hero__title{
    font-size: 4rem;


    @media (max-width:500px) {

       @include title-sm();

    }
}