<p>Hola, <%= name %>
</p>
<p>Please click below to confirm your email</p>
<p>
    <a href="https://nest-vercel-master-servicio.vercel.app/">Confirm</a>
</p>

<p>If you did not request this email you can safely ignore it.</p>