include ../config/config
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/styles.css")

        //*- v-5-pro
        //- link(rel="stylesheet", href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" crossorigin="anonymous")

        //* v-5
        //- script(defer='', src='https://use.fontawesome.com/releases/v5.0.8/js/all.js', integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ", crossorigin='anonymous')

        //- script(defer='' src='https://use.fontawesome.com/releases/v5.0.4/js/all.js')
        //- script(defer='' src='https://use.fontawesome.com/releases/v5.0.4/js/v4-shims.js')
        //- script(defer='' src='https://use.fontawesome.com/releases/v5.0.4/js/fontawesome.js')

        //*- v-6
        //- script(defer='', src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js', crossorigin='anonymous')
        //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" crossorigin="anonymous")

        //*- v6_pro
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/gh/hung1001/font-awesome-pro-v6@18657a9/css/all.min.css" crossorigin="anonymous")

        //- href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro-v6/18657a9/css/all.min.css"
        //- href="https://rawcdn.githack.com/hung1001/font-awesome-pro-v6/18657a9/css/all.min.css"

        //*- Referencia
            //- https://fa-v6.hung1001.com/

        title Document
    body 
        header#header.header
            a(href="/").logo
                img(src="./assets/img/logo.png", alt="web logo")
            #topbar.topbar
                .topbar__icon(data-type="login")
                    i.fa-thin.fa-user
                    span Log in
                .topbar__icon(data-type="register")
                    i.fa-thin.fa-user-plus
                    span Register
                .toggle-menu
                    #toggle-menu.toggle-menu__icon
                        .first-bar
                        .second-bar
                        .third-bar
        #sidebar.sidebar
            block   menu
        main.main
            block title
            block main
        include ../includes/login-modal
        include ../includes/register-modal
        block scripts
        script(src="js/scripts-min.js")
        
